<!-- inject:template-content -->
<div class="lb-timeline {{ settings.language }}">
  {% if settings.showTitle and blog.title %}
  <h1>{{ settings.blog.title }}</h1>
  {% endif %}

  {% if settings.showDescription and blog.description %}
  <p>{{ blog.description | safe }}</p>
  {% endif %}

  {% if settings.showImage and blog.picture_url %}
  <amp-img src="{{ blog.picture_url }}"></amp-img>
  {% endif %}

  <amp-live-list
    layout="container"
    data-poll-interval="15000"
    data-max-items-per-page="{{ settings.postsPerPage }}"
    id="amp-live-list-insert-blog"
    class="timeline-body">

    <button id="live-list-update-button" update on="tap:amp-live-list-insert-blog.update" class="ampstart-btn caps">You have updates</button>

    <div items class="lb-posts">
      {% for item in api_response._items %}
        {% if not item.deleted %}
          {% include "template-post.html" %}
        {% endif %}
      {% endfor %}
    </div>

  </amp-live-list>

</div>

<!-- endinject -->
<!-- inject:template-analytics -->
<!-- endinject -->
